body {
    text-align: center;
    background-color: lightslategray;
    color: black;
}

h3 {
    font-size: 25px !important;
    width: 35%;
}

canvas {
    border: 1px solid black;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#heading_underline {
    width: 90%;
    height: 4px;
    background-color: black;
}
hr{
    width: 100px;
    height: 2px;
    background-color: white;
}